* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    margin-top: 70px;
    background: #E8E8E8;
    width: 100%;
}
#header {
    display: flex;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;   
    align-items: center;
    
}
/*ICONA POSIZIONE e NOME LUOGO*/
.position-container {
    width: 65%;
    display: flex;
    align-items: center;
}
#icon-position {
    margin-right: 10px;
    
}
#nm-luogo {
    font-size: 2.7em;
}
/*SEARCHBAR*/
/*Button lente ingrandimento*/
.circle-srchbar {
  border: none;
  outline: none;
  height: 35px;
  line-height: 35px;  
  width: 35px;  
  font-size: 2em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 7px rgba(0,0,0,.3),
    -3px -3px 7px rgba(255, 255, 255,1);
  transition: all ease-in-out .3s;
}
.circle-srchbar:hover {
  transition: all ease-in-out .3s;
  box-shadow: 3px 3px 7px rgba(255, 255, 255,1),
    -3px -3px 7px rgba(0,0,0,.3);
}

/*icona*/
.circle-srchbar span {
  color: #575757;
}
/*Input text*/
.srchbar-container {
    height: 45px;
    padding: 10px 20px 0 55px;
    display: flex;
    align-items: center;
}
#srchbar {
  animation: fadein .4s;
  -webkit-animation: fadein .4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .4s; /* Firefox < 16 */
      -ms-animation: fadein .4s; /* Internet Explorer */
       -o-animation: fadein .4s; /* Opera < 12.1 */
          animation: fadein .4s;
    width: 100%;
    padding: 4px 4px 4px 10px;
    background: #e0e0e0;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 3px 3px 7px rgba(0,0,0,.3),
    -3px -3px 7px rgba(255, 255, 255,1);
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  /*MAIN*/
  #main {
    padding: 0px 30px 0px 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /*IMMAGINE METEO*/
  .meteo-icon {
    width: 100px;
  }
  /*GRADI CELSIUS*/
  #temperature {
      font-size: 4em;
      font-weight: bold;
  }

  /*FRASE*/
  #caption {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    color: #575757;
  }

  /*PROSSIMI GIORNI*/
  .nextdays-container {
    display: flex;
    justify-content: space-around;
    width: 250px;
    padding: 5px;
    background: #e0e0e0;
    font-size: 1.1em;
    border-radius: 5px;
    outline: none;
    margin:60px auto;
    box-shadow: 3px 3px 7px rgba(0,0,0,.3),
   -3px -3px 7px rgba(255,255,255,1);
  }
  /*CONTENITORE GIORNO*/
  .day-container {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 35px;
  }
  /*nome giorno*/
  .nm-day-1 {
    text-align:center;
  }
  /*immagine meteo*/
  .day-meteo-icon-1 {
    width: 50px;
  }
  /*temperature max*/
  .day-temperature-max-1, .day-temperature-max-2, .day-temperature-max-3 {
    font-weight: bold;
    font-size: 15px;
  }
  /*temperature min*/
  .day-temperature-min-1, .day-temperature-min-2, .day-temperature-min-3 {
    font-weight: bold;
    font-size: 15px;
    color: #575757;
  }